body{
    background-color: #000a1f;
    background-image: url('./avengers_bkgrd_white.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    text-align: center;
    margin: 100 0 0 200;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 0px;
}

.container img{
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid grey;
    transition: all ease-in-out 0.5s;
}

.container img:hover{
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 2px 20px cyan);
    cursor: url("./thor.png") , auto;
}

h1{
   color: rgb(128,128,128);
   text-align: center; 
}

